<section>
  <form class="title-form" [formGroup]="taskForms">

    <div class="title-form">
      <label for="title-task">Titre de la tâche</label>
      <input type="text"
             placeholder="Titre de la tâche"
             id="title-task"
             formControlName="enterTitleTask">
    </div>
    @if (taskForms.controls.enterTitleTask.dirty && taskForms.controls.enterTitleTask.invalid) {
      <p>Le titre est obligatoire</p>
    }


    <div class="title-form">
      <label for="description-task">Description de la tâche</label>
      <textarea type="text"
                placeholder="Description de la tâche"
                id="description-task"
                formControlName="enterDescriptionTask"></textarea>
    </div>
    @if (taskForms.controls.enterDescriptionTask.dirty && taskForms.controls.enterDescriptionTask.invalid) {
      <p>La description est obligatoire</p>
    }

    <button (click)="onSaveTask()" [disabled]="taskForms.invalid">Enregistrer</button>

  </form>

  <ul>
    @for (task of myTasks; track task.id){
      <li>
        <h3>{{task.title | uppercase}}</h3>
        <p [innerHTML]="task.description | boldItalic"></p>
        <button class="btnDelete" (click)="onDeleteTask(task.id)">Supprimer</button>
        <button class="btnUpdate" (click)="onUpdateTask(task)">Modifier</button>
      </li>
    }
  </ul>

</section>
