
ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px auto;
}

li{
  margin: 20px auto;
}

.title-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.title-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.title-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.title-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  width: 300px;
}

.title-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  width: 300px;
}


.title-form button {
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  margin-top: 20px;
}

.btnDelete{
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  background-color: red;
  margin-right: 10px;
}

.btnUpdate{
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  background-color: orange;
  margin-left: 10px;
}

.error{
  color: red;
  font-size: x-small;
}

.is-invalid{
  border: 2px solid red !important;
}






