.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    width: 100%;
    height: auto;
  }
}

.landing-link {
  width: 100%;
  text-align: center;
}


button{
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  font-size: 21px;
  &:active{
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
  cursor: pointer;
}
